h1{
    color: #3516e2
}
body{
    background-color: azure;
}
 #encabezado {
    background-color: #ffffff;
    height: 150px;
    width: 80%;
    margin: 0 auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 5px hsl(182, 94%, 40%);

 }