/* GENERAL */
body{
    background-color: azure;
    font-family: Arial, sans-serif;
}

/* ENCABEZADO */
#encabezado {
    background-color: #fffcfcfa;
    height: 150px;
    width: 80%;
    margin: 20px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 10px 10px 5px hsl(182, 94%, 40%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 10%;
}

.logo img{
    width: 100%;
}

.menu{
    background-color: #a6ebe1;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu ul{
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.menu ul li a{
    text-decoration: none;
    color: black;
    padding: 15px 10px;
}

.menu ul li a:hover{
    background-color: #04a9b4;
    color: white;
    border-radius: 5px;
}

.redes{
    width: 20%;
    height: 100%;
    background-color: #04a9b4;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.redes img{
    width: 35px;
}

/* SECCIÓN CARDS */
#cards{
    width: 80%;
    margin: 20px auto;
    background-color: #a6ebe1;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card{
    width: 30%;
    background-color: #04a9b4;
    color: white;
    padding: 20px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.card h3{
    margin-top: 0;
    text-align: center;
}

.card p, .card li{
    font-size: 15px;
}

/* SECCIÓN PRINCIPAL */
#seccion-principal{
    width: 80%;
    height: 300px;
    margin: 20px auto;
    background-color: #a6ebe1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: #04a9b4;
}

/* CONTENIDO PRINCIPAL */
.contenido-principal{
    width: 70%;
    text-align: center;
}

.contenido-principal h2{
    margin-bottom: 15px;
    color: #04a9b4;
}

.contenido-principal p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 10px;
}


/* PIE DE PÁGINA */
#pie{
    width: 80%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

.pie1, .pie2{
    width: 48%;
    background-color: #04a9b4;
    color: white;
    padding: 20px;
    border-radius: 5px;
}
